<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="{% url 'blog-home' %}">BlogApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-black active" href="{% url 'blog-home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black active" href="{% url 'blog-about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black active" href="{% url 'post-create' %}">New Post</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-black active" href="{% url "my-profile" %}">My Profile</a>
          </li>
          <li class="nav-item">
            <form method="POST" action="{% url 'logout' %}"
            onsubmit="return confirm('Are you sure you want to log out?');" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="nav-link btn btn-link text-black active">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-black active" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black active" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex ms-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
